@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --secondary-color: #f1534d;
    --primary-color:black ;
    --off-green: white;
    --custom-font : 'Source Code Pro';
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;

    /* https://www.heropatterns.com/ */
    /* CC BY 4.0 */
    background-color: yellow;
    background-image: url("/yoda.png" repeat :none); */
}

nav {
    top: 0;
    position:fixed;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 100%;
    max-height: 20vh;
    padding: 1vh;
    text-align: center;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
}
.nav-bar{
    background: #f1534d;
}

main {
    max-width: 700px;
    padding: 15vh 4vh;
    margin: auto;
}

.label1 {
    font-size: medium;
    font-weight: normal;
}

#input-txt {
    display: block;
    margin: auto;
    width: 100%;
    min-height: 15vh;
    padding: 1vh;
    font-size: medium;
    font-weight: bold;
    font-family: var(--custom-font), monospace;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    background-color: var(--secondary-color);
}

textarea::placeholder {
    color: var(--off-green);
    font-size: medium;
}

#translate-btn {
    display: block;
    margin: 2vh auto;
    width: 110px;
    height: 40px;
    font-size: medium;
    color: var(--primary-color);
    font-family: var(--custom-font), monospace;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    background-color: var(--secondary-color);
}

.label2 {
    margin-top: 5vh;
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
}

#output-txt {
    display: block;
    width: 100%;
    margin: auto;
    min-height: 15vh;
    margin-top: 1vh;
    padding: 2vh 5vh;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}


#reset-btn {
    display: block;
    margin: 1vh auto;
    width: 80px;
    height: 35px;
    font-size: medium;
    color: var(--primary-color);
    font-family: var(--custom-font), monospace;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    background-color: var(--secondary-color);
}

footer {
    display: block;
    width: 100%;
    text-align: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    bottom: 0;
    position: fixed;
    padding-bottom: 1vh;
    max-height: 15vh;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
}

footer div {
    font-size: larger;
    margin-top: 1vh;
}

footer p {
    display: block;
    max-width: 400px;
    margin: auto;
    font-size: medium;
    padding: 1vh;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
}

.footer-list {
    display: flex;
    margin: auto;
    width: 15vw; 
    height: 3vh;
    list-style-type: none;
    align-items: center;
}

span {
    padding: 0;
    margin: 0;
    color: white;
    font-size: medium;
    font-weight: bold;
}
